coverage
**/coverage
node_modules
**/node_modules
build
**/build
npm-debug.log
yarn-error.log
docker-compose.override.yml
.env
.env.*
!.env.*.template
.env-*
!.env-*template
.tmp
services/**/tests/__snapshots__/**/**

credentials.json
envSettings.json
package-lock.json

.vscode/*
!.vscode/snippets
!.vscode/launch.json

.DS_STORE
.netbeans
nbproject
.idea
.node_history
dump.rdb

lib-cov
*.seed
*.log
*.out
*.pid
.vscode/launch.json

#intellij config
*.iml